.col-md-8 {
    max-width: 800px;
    margin-top: -100px;
  }
  
  .bg {
    background-image: url('../../../assets/images/loginimage.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: 100%; 
    width: 40%; 
    max-width: 600px; 
  }
  
  .half {
    height: 100vh;
  }
  
  .half, .half .container > .row {
    height: 95vh;
    min-height: 95px !important;
  }
  
  .form-control {
    border: 1px solid #ced4da; 
    border-radius: 0.25rem; 
    box-shadow: none; 
  }
  
  .text {
    color: #FF810C;
  }
  
  .textBg {
    background: #FF810C;
  }
  
  .headertxt {
    font-size: 30px;
      position: relative;
      right: 55px;
      font-weight: bolder;
      width: 130%;
  }
  