<br>
<h2 
  class="text-left font-weight-bold text headertxt mx-4" 
  style="color: rgb(0, 51, 102); background-color: rgb(255, 255, 255);"
>
  {{ 'WELCOME' | translate }} {{ this.userDetails?.firstName }} !!
</h2>


<div class="container-class-1" *ngIf="showNoExpenses; else expensesList">
    <img class="class-2" src="../../../assets/images/TasksList.png" Alt="Tasks">
    <div class="class-3 d-flex flex-column">
        <h1 style="color: rgb(0, 51, 102); background-color: rgb(255, 255, 255);">{{ 'NO_EXPENSES' | translate }}</h1>
        <p>{{ 'ADD_EXPENSE' | translate }}</p>
        <input 
            type="submit" 
            value="+ {{ 'ADD_EXPENSES' | translate | titlecase }}" 
            class="btn btn-block btn-primary textBg border-0" 
            style="color: rgb(255, 255, 255); background-color: rgb(0, 102, 204); border: none;" 
            (click)="AddExpenses()" 
        />

    </div>
</div>

<ng-template #expensesList>
    <app-view-expenses></app-view-expenses>
</ng-template>
