<!-- Topbar Navbar -->
<nav class="navbar navbar-expand navbar-light textBg topbar mb-4 static-top shadow"  style="max-height: 11vh;">
    <div class="sidebar-brand-icon-a" (click)="toggleMenu()">
        <i class="fa-solid fa-bars fa-xl mx-3" style="color: #ffffff;"></i>
    </div>
    <div class="container-fluid">
        
        <!-- Left elements (Logo and Search) -->
        <div class="d-flex">
            <img style="width:36%; cursor: pointer;" src="../../../assets/images/logo.png" routerLink="/dashboard" alt="Expense Tracker System">
            <form class="input-group w-auto my-auto d-none d-sm-flex mx-5">
                <input autocomplete="off" type="search" class="form-control" placeholder="Search"
                    style="min-width: 125px;" />
                <span class="input-group-text border-0 d-none d-lg-flex cursor themebgColor text-white">
                    <i class="fa fa-search"></i>
                </span>
            </form>
        </div>          

        <ul class="navbar-nav ms-auto d-flex align-items-center">
            <!-- <li class="nav-item">
                <i class="fa-sharp fa-solid fa-house mx-3" style="color: #ffffff;"> Home</i>
            </li>
            <li class="nav-item">
                <i class="fa-solid fa-right-from-bracket mx-3" style="color: #ffffff;"> LogOut</i>
            </li> -->

            <!-- Profile dropdown -->
            <li class="nav-item dropdown profile-container ms-3">
                <a class="nav-link d-sm-flex align-items-sm-center">
                    <strong class="d-none d-sm-block ms-1 text-white">{{userName}}</strong>
                    <img src="../../../assets/images/profile_picture.png" class="rounded-circle" height="35" alt="" />
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" routerLink="/profile-options/profile">Profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/profile-options/settings">Settings</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/profile-options/activity">Activity</a>
                    </li>
                    <li>
                        <a class="dropdown-item" (click)="logout()">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
