<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="d-lg-flex half">
            <div class="bg order-1 order-md-2"></div>
            <div class="order-2 order-md-1">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-8" style="position: relative; margin-left: 140px;">
                            <h3 class="text-left font-weight-bold text headertxt" style="color: rgb(0, 51, 102);">
                                Student Expense 
                                <span 
                                  style="cursor: pointer; color: rgb(0, 51, 102);" 
                                  routerLink="/dashboard" 
                                  tabindex="0" 
                                  aria-label="Go to Dashboard"
                                >
                                  Tracker
                                </span>
                              </h3>
                              
                            <br>
                            <h4 class="text-left font-weight-bold mb-4 text" style="color: rgb(0, 51, 102);">Login</h4>
                          
                            <form [formGroup]="loginForm">
                                <div class="form-group first">
                                    <label for="username" style="font-weight: 400;">Username</label>
                                    <input type="text" class="form-control" formControlName="username"
                                        placeholder="your-email@gmail.com" id="username">
                                    <div class="color-red"
                                        *ngIf="(formvalid) || (loginForm.controls['username'].dirty)">
                                        <div *ngIf="loginForm.controls['username'].hasError('required')">
                                            *Required username
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group last mb-3">
                                    <label for="password" style="font-weight: 400;">Password</label>
                                    <input [type]="passwordType" formControlName="password" class="form-control"
                                        placeholder="Your Password" id="password">
                                    <span *ngIf="passwordType == 'Text'" (click)="passwordType = 'Password'"
                                        class="fa fa-eye showPassword cursor"></span>
                                    <span *ngIf="passwordType == 'Password'" (click)="passwordType = 'Text'"
                                        class="fa fa-eye-slash showPassword cursor"></span>
                                    <div class="color-red"
                                        *ngIf="(formvalid) || (loginForm.controls['password'].dirty)">
                                        <div *ngIf="loginForm.controls['password'].hasError('required')">
                                            *Required password
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex mb-4 align-items-center mt-2 cursor">
                                    <span class="small text-primary cursor" routerLink="/register">Register Now?</span>
                                </div>
                                <input 
                                    type="submit" 
                                    value="Log In" 
                                    class="btn btn-block btn-primary textBg border-0" 
                                    style="opacity: 1; color: rgb(255, 255, 255); background-color: rgb(0, 102, 204);" 
                                    (click)="login()" 
                                />

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>