<div class="payment-reminder-container mt-4">
  <h1 style="color: rgb(0, 51, 102); ">Payment Reminders</h1>
  <div class="payment-layout">
    <div class="payment-inputs">
      <label for="paymentType">Payment Type</label>
      <input type="text" id="paymentType" [(ngModel)]="paymentType" placeholder="Enter payment type" />

      <label for="amount">Amount</label>
      <input type="number" id="amount" [(ngModel)]="amount" placeholder="Enter amount" />

      <label for="dueDate">Due Date</label>
      <input type="date" id="dueDate" [(ngModel)]="dueDate" placeholder="dd-mm-yyyy" />

      <button (click)="addReminder()" style="color: rgb(255, 255, 255); background-color: rgb(0, 102, 204); border: none; padding: 10px 20px; border-radius: 5px;">Add Reminder</button>
    </div>

    <div class="added-reminders-section">
      <h3 style="color: rgb(0, 51, 102); ">Added Reminders</h3>
      <div class="reminders-container">
        <div *ngFor="let reminder of reminders" class="reminder">
          <h4>Type: <strong>{{ reminder.type }}</strong></h4>
          <p>Amount: <strong>{{ reminder.amount }}</strong></p>
          <p>Due Date: <strong>{{ reminder.dueDate | date: 'yyyy-MM-dd' }}</strong></p>
          <button (click)="sendEmail(reminder)" style="color: rgb(255, 255, 255); background-color: rgb(0, 102, 204); border: none; padding: 10px 20px; border-radius: 5px;">Send</button> <!-- Send button -->
        </div>
      </div>
    </div>
  </div>
</div>
