<div class="container mt-4">
  <div class="header">
    <h3 class="text-left expense-header">Expense Visualization</h3>
    <div class="button-container">
      <button class="btn" routerLink="/addexpense">
        <i class="fa fa-plus"></i> Add Expense
      </button>
      <button class="btn" routerLink="/view-expenses">
        <i class="fa fa-table"></i> View Expenses
      </button>
    </div>
  </div>

  <div class="scrollable-container">
    <div class="summary-and-trends-container">
      <div class="summary-charts mt-5">
        <div class="chart-container z">
          <highcharts-chart [Highcharts]="Highcharts" [options]="barChartOptions"
            style="width: 100%; height: 300px; display: block;"></highcharts-chart>
        </div>
        <div class="chart-container">
          <highcharts-chart [Highcharts]="Highcharts" [options]="pieChartOptions"
            style="width: 100%; height: 300px; display: block;"></highcharts-chart>
        </div>
      </div>

      <div class="trends-container">
        <highcharts-chart [Highcharts]="Highcharts" [options]="lineChartOptions"
          style="width: 100%; height: 300px; display: block;"></highcharts-chart>
      </div>
    </div>

    <div class="summary-charts mt-5">
      <div class="chart-container">
        <highcharts-chart [Highcharts]="Highcharts" [options]="stackedBarChartOptions"
          style="width: 100%; height: 300px; display: block;"></highcharts-chart>
      </div>
      <div class="chart-container">
        <highcharts-chart [Highcharts]="Highcharts" [options]="movingAverageLineOptions"
          style="width: 100%; height: 300px; display: block;"></highcharts-chart>
      </div>
    </div>

    <div class="side-by-side mt-5">
      <div class="chart-container">
        <highcharts-chart [Highcharts]="Highcharts" [options]="pieChartTaxOptions"
          style="width: 100%; height: 300px; display: block;"></highcharts-chart>
      </div>
      <div class="table-container">
        <h5 class="table-heading">Expense Summary</h5>
        <table class="styled-table mt-0 mx-0">
          <thead>
            <tr>
              <th>Expense Type</th>
              <th>Total Amount</th>
              <th>Tax Amount</th>
              <th>No. of Expenses Recorded</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let summary of summaryData">
              <td>{{ summary.expenseType }}</td>
              <td>{{ summary.totalAmount | currency }}</td>
              <td>{{ summary.taxAmount | currency }}</td>
              <td>{{ summary.expenseCount }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
</div>
