<div *ngIf="!toggleChanged" class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard">
                <span class="nav-text">{{ 'HOME' | translate }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/view-expenses">
                <span class="nav-text">{{ 'VIEW_EXPENSES' | translate }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/addexpense">
                <span class="nav-text">{{ 'ADD_EXPENSES' | translate }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login">
                <span class="nav-text">{{ 'LOGOUT' | translate }}</span>
            </a>
        </li>
    </ul>
</div>
