<div *ngIf="!toggleChanged" style="background: #ff810c; height: 53vh;">
    <br>
    <li class="nav-item cursor mx-3" routerLink="/dashboard">
        <a class="nav-link"><span class="fs-5">HOME</span></a>
    </li>
    <hr class="bold-hr text-white">
    <li class="nav-item cursor mx-3" routerLink="/view-expenses">
        <a class="nav-link"><span class="fs-5">VIEW EXPENSES</span></a>
    </li>
    <hr class="bold-hr text-white">
    <li class="nav-item cursor mx-3" routerLink="/addexpense">
        <a class="nav-link"><span class="fs-5">Add EXPENSES</span></a>
    </li>
    <hr class="bold-hr text-white">
    <li class="nav-item cursor mx-3" routerLink="/login">
        <a class="nav-link"><span class="fs-5">LOGOUT</span></a>
    </li>
</div>
