.sidebar {
    background: #ff810c;
    height: 89vh;
    padding: 15px 15px;
}

.nav-item {
    margin: 10px 0px;
}

.nav-link {
    color: white;
    font-size: 17px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-text {
    flex: 1;
    margin: 5px 10px;
}
